  $color: rgb(87, 87, 165);

        .cont first{
          color:$color;


        }
        :root {
            --main-color: yellow;
        }

        .column {
            display: flex;
            flex-wrap: wrap;
            flex: 100%;
            gap: 20px;

        }


        @media screen and (max-width:1000px) {
            .column {
                display: grid;
                flex: 25%;
                gap: 20px
            }

            @media screen and (max-width:300px) {
                .column {
                    display: grid;
                    flex: 50%;
                    gap: 20px
                }
            }


        }

        .first:nth-child(1) {
            background-color: var(--main-color);
        }

        .cont:nth-child(even) {
            background-color: bisque;
        }

        .third:nth-child(odd) {
            background-color: var(--main-color);
        }
  